.triangle1{
    height: 0px;
    width: 0px;
    border-style: solid;
    border-color:black ;
    border-width: 100px;
    border-bottom-color: #ffeecf;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent ;
    margin: 50px 650px;

}
.triangle2{
    height: 0px;
    width: 0px;
    border-style: solid;
    border-color:black ;
    border-width: 100px;
    border-bottom-color: #f5c181;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent ;
    margin: -200px 650px;
    z-index: -1;
    position: relative;

}
.triangle3{
    height: 0px;
    width: 0px;
    border-style: solid;
    border-color:black ;
    border-width: 100px;
    border-bottom-color: #00A79D;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent ;
    margin: 52px 650px;
    z-index: -2;
    position: relative;
}



body{
    background-color: #007065;
    text-align: center;
}
button{
    padding: 20px;
    font-size: 50px;
}
